<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display</title>
</head>
<body>

<p> My Name is: Krishna Chinya </p>
<p> Class Time is: 10:30 </p>
<p> My ID is:1001444149 </p>
<br>
<!--<p>Total Number enteries in Table is: {{ Totalcount }}</p>-->

<p> Display all Images </p>
<form method="POST" action="/displayimages" enctype = "multipart/form-data">
    <input type="submit">
</form>



<!--<p> Enter Instructor Name </p>-->
<!--<form method="GET" action="/inst" enctype = "multipart/form-data">-->
    <!--Instructor Name:<input type="text" name="instructor">-->
    <!--<input type="submit">-->
<!--</form>-->


<!--<p> Enter From and To </p>-->
<!--<form method="POST" action="/displayimages" enctype = "multipart/form-data">-->
    <!--From:<input type="text" name="from">-->
    <!--To:<input type="text" name="to">-->
    <!--<input type="submit">-->
<!--</form>-->


<p> Enter Ingredient Name </p>
<form method="POST" action="/displayimages" enctype = "multipart/form-data">
    Ingredient Name:<input type="text" name="Ingredient">
    <input type="submit">
</form>

<p> Enter Calories </p>
<form method="POST" action="/displaycalories" enctype = "multipart/form-data">
    Calories:<input type="text" name="calories">
    <input type="submit">
</form>


</body>
</html>
